/* Style the navigation bar */
.headerBar {
  width: 100%;
  background-color: #000000 !important;
  overflow: auto;

}
.headerBar input {
  float: right !important;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
#searchButton {
  float: right !important;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.headerBar a {
  font-weight: bold;
  float: left;
  text-align: center;
  padding: 17px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}


/* Navbar links */
.headerBar a {
  font-weight: bold;
  float: left;
  text-align: center;
  padding: 17px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* Navbar links on mouse-over */
.headerBar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.headerBar {
  background-color: #4CAF50;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .headerBar a {
    float: none;
    display: block;
  }
}

/* Formatting for homepage image */
.imgbox {
  display: grid;
  height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}



*{
  padding:0;
  margin:0;
}
/* The footer is fixed to the bottom of the page */

footer{
  position: fixed;
  bottom: 0;
}

@media (max-height:800px){
  footer { padding-bottom: 100px; }
  header { position: static; }
}


.footer-distributed{
  background-color: #000000;
  box-sizing: border-box;
  width: 100%;
  bottom: 0px;
  text-align: left;
  font: bold 14px sans-serif;
  padding: 20px 10px 10px 10px;
  margin-top: 80px;
  margin-bottom: 0px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 30%;
}

.footer-distributed h2{
  color:  #ffffff;

}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 10px 0 12px;
  font-size: 12px;
}

.footer-distributed .footer-links {
  display:inline-block;
  line-height: 2.5;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #fdfdfd;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: bold;
  font:12 px;
}

.footer-distributed .footer-center p a{
  color:  #1cb2e0;
  text-decoration: none;
  font-size: small;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 30%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* Here is the code for Responsive Footer */
@media (max-width: 880px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }

}